In [52]:
!pip install -U googlemaps

Defaulting to user installation because normal site-packages is not writeable
Requirement already up-to-date: googlemaps in /home/rpresent/.local/lib/python3.8/site-packages (4.5.3)
Requirement already satisfied, skipping upgrade: requests<3.0,>=2.20.0 in /apps/spack/scholar/fall20/apps/anaconda/2020.11-py38-gcc-4.8.5-djkvkvk/lib/python3.8/site-packages (from googlemaps) (2.24.0)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /apps/spack/scholar/fall20/apps/anaconda/2020.11-py38-gcc-4.8.5-djkvkvk/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /apps/spack/scholar/fall20/apps/anaconda/2020.11-py38-gcc-4.8.5-djkvkvk/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /apps/spack/scholar/fall20/apps/anaconda/2020.11-py38-gcc-4.8.5-djkvkvk/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.25.11)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /apps/spack/scholar/fall20/apps/anaconda/2020.11-py38-gcc-4.8.5-djkvkvk/lib/python3.8/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)

In [53]:
import pandas as pd
import googlemaps
from datetime import datetime

In [54]:
data = pd.read_csv("Data.csv")

In [55]:
data = data.dropna()
data

,Name,Address,Type
0,IUPUI,"415 Porto Alegre St, Indianapolis, IN 46202",Housing
1,The Speak Easy,"5255 Winthrop Ave #110, Indianapolis, IN 46220",Coworking
2,zWORKS,"85 E Cedar St #1502, Zionsville, IN 46077",Coworking
3,Launch Fishers,"12175 Visionary Way, Fishers, IN 46038",Coworking
4,Industrious Mass Ave,"350 Massachusetts Ave Suite 300, Indianapolis,...",Coworking
5,Launch Indy,"525 S Meridian St, Indianapolis, IN 46225",Coworking

In [56]:
#gmaps= googlemaps.Client(key='AIzaSyDYOHNwPndwvisxeiATn8ceskcR3dxbkig')
#geocode = gmaps.geocode(data.iloc[0][1])


data["distance(miles)"] = [0, 7.2, 17.4, 22.4, 1.9, 2.5]
data["time(mins)"] = [0, 19, 27, 31, 8, 9]

data

,Name,Address,Type,distance(miles),time(mins)
0,IUPUI,"415 Porto Alegre St, Indianapolis, IN 46202",Housing,0.0,0
1,The Speak Easy,"5255 Winthrop Ave #110, Indianapolis, IN 46220",Coworking,7.2,19
2,zWORKS,"85 E Cedar St #1502, Zionsville, IN 46077",Coworking,17.4,27
3,Launch Fishers,"12175 Visionary Way, Fishers, IN 46038",Coworking,22.4,31
4,Industrious Mass Ave,"350 Massachusetts Ave Suite 300, Indianapolis,...",Coworking,1.9,8
5,Launch Indy,"525 S Meridian St, Indianapolis, IN 46225",Coworking,2.5,9

In [ ]:
#The Eagle, The Rathskeller, Condado Tacos, BRU Burger Bar, Goodfellas Pizzeria, Wild Eggs
#University Park, Fresh Market. Indiana World War Memorial